@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Sacramento&display=swap');

*, *::after, *::before{
    box-sizing: border-box;

}
img{
    max-width: 100%;
    height: auto;
}
body{
    color: #66BFBF;
    text-align: center;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 4em;
}
h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;

}
h2{
    font-size: 2.2em;
}
p{
    color: #101110;
    font-family: 'Merriweather', serif;
    font-size: 85%;

}
hr{
    border: 0;
    border-bottom:8px dotted #ccc ;
    width: 20%;
    margin: 5% auto 5% auto;
}
button{
    margin: 3.5%;
    width: 160px;
    height: 40px;
    background-color: #0a9faa;
    color: azure;
    font-size: 1.2em;
    font-family: 'Open Sans',sans-serif;
    padding: auto;
    border-radius: 5px;
    border: 1px outset #029090 ;
}
li{list-style: none;}
a{
    text-decoration: none;
    color: #11999E;
    
}
a:hover{
    text-decoration: underline;
}
.subrayado{text-decoration: underline;}
.circle{
    border-radius: 50%;
}
.min{
    max-width: 15%;
    border: 1px solid #ccc;
    margin: 0 5px 0 5px;
}
.header{
    padding-top: 5%;
    background-color: #e4f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    margin-bottom: 5%;
    justify-items: center;
}
/*grid del header*/
#derecha{
    grid-column: 4;
}
#eu{
    grid-column: 3;
}
#um{
    grid-column: 3;
}
#ezquerda{grid-column: 2;}
/*fin del */
.limite-40{
    max-width: 40%;
    margin: 0 auto 0 auto;
}

.skill{
    margin-left: 15%;
    margin-right: 15%;
}
.float{
    float: left;
}
.ezquerda{
    text-align: left;
}

/*estilo footer com flex*/
footer{
    background-color: #66BFBF;
    height: 70px;
    padding-top: 10px;
    
}
footer ul{
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: 0 auto 0 auto;
}
footer p{
    color: #EAF6f6;
}