
nav{
    margin-bottom: 0;
}
body{
    position: relative;
    color: #868484;
}
main{
    position: absolute;
    top: 600px;
    width: 100%;
}
html{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(236, 233, 233);
}
footer{
    background-color: #2b2a2a;
    position: absolute;
    top: 1715px;
    width: 100%;
    
}
hr{
    background-color: rgb(236, 233, 233);
    margin-right: 6%;
}
li{text-decoration: none;
    list-style: none;}

.inline{
    display: inline-block;
}
.w100{
    width: 100% !important;
}
.w65{
    width: 65% !important;
}
.w45{
    width: 45%;
}
.w30{
    width: 30% !important;
}
.w24px{
    width: 24px;
}
.h30px{
    height: 30px;
}
.bk-bg{
    background-color: #2b2a2a !important;
}
.bg-light{
    background-color: rgb(236, 233, 233) !important;
}
.gray{
    color: rgb(221, 218, 218);
}
.gray-dark{
    color: #383737;
}
.green{
    color: green !important;
}
.top-0{
    position: absolute  ;
    top: 0px;
    width: 100%;
    
}

.box-gray{
    background-color: grey;
    text-align: center;
    margin: 5% auto ;
}
.right{
    
    margin: 5% 10% 6% auto ;
}
.center{
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0;
}
.text-center{
    text-align: center;
}
.border-5{
    border-radius: 5px;
    padding: 3px;
}
.redondo{
    border-radius: 50%;
    border:1px solid #868484;
}
.grid-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 10px;
    margin: 1%;
}
.card-white{
    background-color: white;
    margin-bottom: 2%;
}
.grid-card1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.justify-right{
    justify-items: end;
}
.nos{
    width: 30%;
    position: absolute;
    top: 140px;
    left: 145px;
    z-index: 20000;
    background-color: rgba(255, 255, 255, 0.8);
    border: green double 6px;
    padding: 1%;
}
.form-control{
    width: 45%;
    display: inline;
    border-radius: 5px 0 0 5px;
}
.corregir{
    position: relative;
    top:-2.5px;
    border-radius: 0 5px 5px 0;
}
.margin6{
    margin: 3% 6%;
    grid-gap: 6%;
}
.margin-left{
    margin-left: 6%;
}

/*small screen*/
@media screen and (max-width:500px){
    
    /*html{   
    background-color: rgb(236, 233, 233);
    }*/
    .sticky-top {
        
        position: absolute;
        top: 60px;
        
    }
    .navbar{
        width: 100%;
    }
    .h30px {
        height: 58px;
    }
    .nos{
        width: 100%;
    
        top: 300px;
        left: 0px;
    
    }
    .nos h2{
        font-size: 24px;
    }
    .nos h3{
        font-size: 22px;
    }
    .nos p{
        font-size: 14px;
    }
    .top-0{
        top:125px;
    }
    .right{
        margin: auto;
    }
    .center>p{
        text-align: justify;
        margin-left: 0;
    }

    footer{
        top: 2465px;
    }
    .margin6{
        grid-gap: 0;
    }
    .margin-left{
        margin-right: 9.5%;
    }
    /*.categories{
        display: relative;
        top:-10px;
    }*/
}
/*medium screen*/
@media screen and (min-width: 500px) and (max-width: 899px) { 
    .h30px {
        height: 70px;
    }
    .carousel-inner {
      
        
        top: 65px;
    }
    .nos{
        width: 100%;
    
        top: 450px;
        left: 0px;
    
    }
    .nos h2{
        font-size: 22px;
    }
    .nos h3{
        font-size: 20px;
    }
    .nos p{
        font-size: 16px;
    }
    .w45{
        width: 60%;
    }
    .right{
        margin: 8% auto;
    }
   footer{
       top: 2200px;
   }
 }
 @media  and (min-width: 910px) and (max-width: 1156px)  {
     .nos{
         height:290px;
     }
 }
